/* #region INIT SET */
:root,
a,
h1,
* {
  color: #023160;
}
:root,
body {
  text-decoration: none;
  outline: none;
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer */
  -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none; /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}
pre,
code,
blockquote,
input,
textarea {
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  -webkit-touch-callout: text;
}

a {
  cursor: pointer;
}
.ctn-sn {
  width: 100%;
}
.sn {
}
.sn--left {
  float: left;
  min-width: 457px;
  width: 76%;
  height: auto;
}
.sn--right {
  float: right;
  min-width: 145px;
  width: 24%;
  height: auto;
}
/* #endregion INIT SET */

/*#region SN LEFT */
.btn-back {
  width: 113px;
  line-height: 40px;
  background-color: #023160;
  color: white;
  text-align: center;
  display: inline-block;
}
.video-lesson {
  max-height: 100%;
}
.video-lesson video {
  width: 100%;
  height: auto;
}

.ctl-lesson {
  padding: 8px 16px 16px 16px;
}

.ctl-lesson > p {
  color: #023160;
  font-size: 1.4rem;
  font-weight: normal;
}
.ctl-lesson > div > a {
  width: 129px;
  line-height: 48px;
  background-color: #9facb7;
  border-radius: 1px;
  text-align: center;
}
.ctl-lesson > div > a:nth-child(1) {
  float: left;
}
.ctl-lesson > div > a:nth-child(2) {
  float: right;
}
/*#endregion SN LEFT */

/*#region SN RIGHT */
.tabs {
  display: flex;
  justify-content: start;
  align-items: start;
  margin-bottom: 8px;
  height: 40px;
}
.tabs > div {
  flex: 1;
  height: 100%;
  padding: 6px 18px;
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: center;
}
.tabs > div.active {
  background-color: #023160;
}
.tabs > div:nth-child(1) {
  background-image: url("./common/unicons/svg/menu.png");
}
.tabs > div.active:nth-child(1) {
  background-image: url("./common/unicons/svg/menu-white.png");
}
.tabs > div:nth-child(2) {
  background-image: url("./common/unicons/svg/chat.png");
}
.tabs > div.active:nth-child(2) {
  background-image: url("./common/unicons/svg/chat-white.png");
}

.tabs > div:nth-child(3) {
  background-image: url("./common/unicons/svg/question.png");
}
.tabs > div.active:nth-child(3) {
  background-image: url("./common/unicons/svg/question-white.png");
}

.tabs > div:nth-child(4) {
  background-image: url("./common/unicons/svg/evaluation.png");
}
.tabs > div.active:nth-child(4) {
  background-image: url("./common/unicons/svg/evaluation-white.png");
}
.tabs > div:nth-child(5) {
  background-image: url("./common/unicons/svg/document-rule.png");
}
.tabs > div.active:nth-child(5) {
  background-image: url("./common/unicons/svg/document-rule-white.png");
}
.tabs .tab {
  cursor: pointer;
  transition: all 0.2s ease;
}
.tabs .tab:hover {
  background-color: #bbc9d46c;
}

.tabs-ct .tab-ct {
  display: none;
}
.tab-ct > *:first-child {
  max-height: 732px;
  overflow-y: auto;
}
.tabs-ct .tab-ct.active {
  display: block;
}
/*#endregion SN RIGHT */

/* #region TAB LESSON */
.chaps {
  padding-bottom: 40px;
}
.chaps .chap {
  padding: 16px 0;
}
.chap > h1 {
  padding: 0 8px;
  cursor: pointer;
}
.epss > li:nth-child(2n + 1) {
  background-color: #bbc9d46c;
}

.epss > li > .meta {
  cursor: pointer;
  padding: 18px 8px;
  display: flex;
}
.epss .meta > div:nth-child(1) {
  width: calc(100% - 48px);
}
.epss .meta > div:nth-child(2) {
  width: 48px;
}
.epss .meta i {
  color: green;
}
.epss .pgr {
  background-color: #9facb7;
  height: 6px;
}
.epss .pgr > div {
  width: 17%;
  height: 100%;
  background-color: #ffc107;
  border-radius: 2px;
}
/* #endregion TAB LESSION */

/* #region TAB discuss */

.tab-ct .discuss {
  padding: 8px;
  max-height: 651px;
  overflow-y: auto;
}
.discuss > ul > li > div:first-child {
  display: flex;
  align-items: start;
  justify-content: start;
}
.discuss .dc-bd {
  border-radius: 10px;
  border: 1px solid #e5e5e5;
  min-height: 40px;
  padding: 6px 16px 12px 16px;
}

.discuss .dc-meta {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: start;
  height: 29px;
}
.dc-meta .username {
  display: block;
  font-weight: bold;
}

.dc-bd .dc-cont {
  font-style: italic;
}
.dc-reply-bl {
  margin-left: 50px;
  margin-top: 16px;
  margin-bottom: 16px;
}
.dc-reply-bl > ul > li {
  display: flex;
  align-items: start;
  justify-content: start;
  margin-top: 8px;
}
.dc-reply-bl .dc-rpl-bd {
  border-radius: 10px;
  border: 1px solid #e5e5e5;
  min-height: 40px;
  padding: 6px 16px 12px 16px;
}

.dc-reply-bl .dc-rpl-meta {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: start;
  height: 29px;
}
.dc-rpl-meta .username {
  display: block;
  font-weight: bold;
}

.dc-rpl-bd .dc-rpl-cont {
  font-style: italic;
}
.discuss-f {
  padding: 16px 0;
}

.btn-discuss,
.btn-situation {
  background-color: #023160;
  text-align: center;
  font-weight: 300;
  color: white;
  padding: 15px;
  border-radius: 0 0 10px 10px;
}
/* #endregion TAB discuss */

/* #region TAB QUESTION */
.situation {
  height: 651px;
  padding: 0 8px;
}
.lst-ctr > ul > li {
  width: 100%;
  margin: 8px 0;
}
.lst-ctr > ul:not(.rules) > li > a {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  color: #023160;
}

.lst-ctr > ul > li > a > div {
  width: 85%;
  font-size: 1.2rem;
}
.lst-ctr > ul > li > a > i {
  color: #023160;
  vertical-align: middle;
  font-size: 1.7rem;
}
.uil-plus::before {
  font-weight: bold;
}

.lst-ctr > ul > li.active > a i::before {
  content: "\ea8d";
}

.lst-ctr .lst-eps {
  margin-top: -2px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease;
}
.lst-ctr li.active .lst-eps {
  max-height: 1000px;
  overflow-y: auto;
}

.lst-eps > li {
  width: 100%;
  padding: 0 12px;
  background-color: #ccc;
}

.lst-eps > li > a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(139, 139, 139);
  padding: 0px 12px;
  line-height: 45px;
}
.lst-eps > li:last-child > a {
  border-bottom: none;
}
.lst-eps > li > a > div {
  width: 85%;
}
.lst-eps .lst-eps__trial {
  width: 75px;
  color: red;
}
.lst-eps > li > a i {
  font-size: 1.7rem;
}
/* #endregion TAB QUESTION */

/*#region TAB EVA */
.evaluation {
  padding: 16px;
}
.evaluation textarea {
  border: none;
  background-color: #e8ebee;
  border-radius: 10px;
  margin-bottom: 8px;
  padding: 8px;
  float: left;
  width: 100%;
  min-height: 150px;
  outline: none;
  resize: none;
}
.evaluation svg {
}
/* #endregion TAB EVA */

/*#region TAB RULE */
.rules {
  height: 732px;
  padding: 0 4px;
}
.rules ul {
  width: 100%;
  padding: 5px 5px;
  overflow-y: auto;
}
.rules {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.rules li {
  cursor: pointer;
  display: flex;
  align-items: flex-start;
  padding: 15px 5px;
}
.rules img {
  width: 65px;
  margin-right: 15px;
}
.rules a {
  width: 80%;
  color: black;
  font-weight: 600;
  font-size: 1.1rem;
}

.rules a span {
  font-size: 0.9rem;
  font-weight: normal;
}
/* #endregion TAB RULE */

/* width */

.tab-ct > *:first-child::-webkit-scrollbar {
  width: 8px;
}

/* Track */

.tab-ct > *:first-child::-webkit-scrollbar-track {
  background: white;
}

/* Handle */

.tab-ct > *:first-child::-webkit-scrollbar-thumb {
  background: #023160;
}
.tab-ct > *:first-child::-webkit-scrollbar-thumb:hover {
  background: #023160;
}

/*#region MODE AUTO */

.mode-auto {
  line-height: 34px;
  background-color: #023160;
  padding: 0 16px;
}
.mode-auto span {
  color: white;
}

.switch {
  position: relative;
  display: inline-block;
  width: 51px;
  height: 25px;
  line-height: 25px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 27px;
  width: 27px;
  left: -1px;
  bottom: -1px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/*#endregion MODE AUTO */

/* RESPONSIVE */
@media only screen and (max-width: 600px) {
  html * {
    font-size: 13px;
  }
  .sn--left {
    float: unset;
    min-width: unset;
    width: 100%;
  }
  .sn--right {
    float: unset;
    min-width: unset;
    width: 100%;
    height: 100%;
  }
  /* SN LEFT */
  .btn-back {
    position: absolute;
    width: 90px;
    line-height: 35px;
  }

  .ctl-lesson {
    padding: 8px 8px 16px 8px;
    position: relative;
  }
  .ctl-lesson > p {
    width: 78%;
  }
  .mb.mode-auto {
    position: absolute;
    right: 0;
    text-align: right;
    background-color: transparent;
    line-height: 0;
  }
  .mb.mode-auto > span {
    display: block;
    color: #023160;
    line-height: 16px;
    font-size: 0.7rem;
  }
  .switch {
    position: relative;
    display: inline-block;
    width: 32px;
    height: 16px;
    line-height: 0px;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: -1px;
    bottom: -1px;
    background-color: #023160;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
  }

  /* SN RIGHT */
  .tabs {
    padding: 0 8px;
  }
  .tabs > div {
    background-size: 24%;
    border-radius: 5px;
  }

  .tabs .tab:hover {
    background-color: #023160;
  }

  /* TAB LESSON */
  .chaps {
    padding: 0 8px;
    padding-bottom: 40px;
  }
  .chaps .chap {
    padding: 16px 0;
  }
  .chap > h1 {
    padding: 0 8px;
    cursor: pointer;
  }
  .epss > li:nth-child(2n + 1) {
    background-color: #bbc9d46c;
  }

  .epss > li > .meta {
    cursor: pointer;
    padding: 18px 8px;
    display: flex;
  }
  .epss .meta > div:nth-child(1) {
    width: calc(100% - 48px);
  }
  .epss .meta > div:nth-child(2) {
    width: 48px;
  }
  .epss .meta i {
    color: green;
  }
  .epss .pgr {
    background-color: #9facb7;
    height: 6px;
  }
  .epss .pgr > div {
    width: 17%;
    height: 100%;
    background-color: #ffc107;
    border-radius: 2px;
  }

  /* width */

  .tabs-ct .tab-ct::-webkit-scrollbar {
    width: 8px;
  }

  /* Track */

  .tabs-ct .tab-ct::-webkit-scrollbar-track {
    background: white;
  }

  /* Handle */

  .tabs-ct .tab-ct::-webkit-scrollbar-thumb {
    background: #023160;
  }
  .tabs-ct .tab-ct::-webkit-scrollbar-thumb:hover {
    background: #023160;
  }

  /* MODE AUTO */

  .mode-auto:not(.mb) {
    display: none;
  }
}
