/* custom by Khoa Pham */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
html {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  color: #023160;
  overflow-x: hidden;
}
body {
  width: 100%;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  -webkit-animation-name: body-fade;
  -webkit-animation-duration: 1.5s;
  animation-name: body-fade;
  animation-duration: 1.5s;
  background-color: aliceblue;
  overflow: hidden;
  height: unset;
  font-family: "Poppins", sans-serif;
}
body > *:not(#nav) {
  width: 85% !important;
  background-color: white;
}
body > * {
  margin: 0 auto;
}
@-webkit-keyframes body-fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes body-fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
a,
h1,
h2,
h3,
h4,
h5,
h6,
button {
  text-decoration: none;
  color: #023160;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}
input::placeholder {
  font-family: "Poppins", sans-serif;
}
p {
  line-height: 1.15rem;
  word-spacing: 0.1rem;
}
img {
  width: 100%;
}
iframe {
  max-width: 100%;
  padding: 0 !important;
}
.mb {
  display: none;
}
.slick-next,
.slick-prev {
  z-index: 1;
  transition: all ease 0.4s;
  border-radius: 50%;
  opacity: 0.6;
}
.slick-dots {
  left: 0;
  bottom: -10px;
}

/* RESPONSIVE */
@media only screen and (max-width: 815px) {
  html {
    font-size: 11px;
  }
  body > *:not(#nav) {
    width: 100% !important;
  }
}
@media only screen and (max-width: 600px) {
  html {
    font-size: 13px;
  }
  .mb {
    display: initial;
  }
}
