/* FOOTER */
footer {
  width: 100%;
  padding-bottom: 30px;
}
footer > section.section--8th > * {
  padding: 0 10%;
}

.footer-body {
  background-color: #023160;
  color: white;
}
.row1 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}
.col {
  padding: 25px 0px;
  flex: 1;
  text-align: start;
}
.col > * {
  padding: 15px;
}

.col-1,
.col-4 {
  flex: 2;
  max-width: 28%;
}
.cty .lg-f {
  width: 35%;
  display: block;
  margin-bottom: 5px;
}
.col-1 .imgs img {
  width: 30%;
}

.col-2 h1,
.col-3 h1 {
  color: white;
  font-size: 1.4rem;
}
.col-2 h1,
.col-2 p,
.col-3 h1,
.col-3 p {
  margin: 0;
  line-height: 1.8rem;
}

/* RESPONSIVE */
@media only screen and (max-width: 800px) {
  .col-1,
  .col-4,
  .col-2,
  .col-3 {
    max-width: unset;
    width: 50%;
    flex: unset;
  }
}
@media only screen and (max-width: 600px) {
  /* FOOTER */
  .col-1,
  .col-4,
  .col-2,
  .col-3 {
    max-width: unset;
    width: 100%;
    flex: unset;
  }
  /* FOOTER END */
}
@media only screen and (max-width: 478px) {
}
