/* NAVIGATION BAR */
nav {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.75);
  position: fixed;
  top: 0;
  height: auto;
  padding: 20px 0;
  box-sizing: border-box;
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  box-shadow: 0px 1px 10px;
  transition: 0.2s;
}
.nav-no-shadow {
  box-shadow: none !important;
  padding: 10px 0;
}
/* MOBILE */
.nav-collapse {
  flex: 1;
  text-align: center;
}
.nav-collapse span {
  font-size: 1.5rem;
}
/* MOBILE END */
nav ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
nav ul li {
  margin-left: 20px;
}
.login .login__img {
  width: 1.35rem;
  line-height: 5px;
}
.search {
  border-radius: 10px;
  padding: 4px;
  background-color: white;
}
.search .search__img {
  width: 1.1rem;
}
.search .search__input {
  border: none;
}
.search .search__input:focus {
  outline: none;
}
nav ul li a:hover {
  color: #023160;
}
nav ul li a,
nav ul li img {
  vertical-align: middle;
  color: black;
  font-weight: 600;
  transition: 0.3s;
}
.flag {
  margin-right: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.flag .flag__img {
  width: 25px;
  height: 15px;
}
.flag .flag__img--vn {
  margin-bottom: 1px;
}
/* RESPONSIVE */
@media only screen and (max-width: 815px) {
}
@media only screen and (max-width: 600px) {
  nav {
    max-height: 64px;
    padding: 0;
    padding-top: 16px;
    transition: max-height 0.5s ease;
  }
  nav ul {
    justify-content: space-around;
  }
  nav ul li {
    margin-left: 0;
  }
  nav ul.wb.ul li:nth-child(2),
  nav ul.wb.ul li:nth-child(3),
  nav ul.wb.ul li:nth-child(4) {
    display: none;
  }
  .search {
    border-radius: 0;
    padding: 8px 12px;
  }
  .flag {
    margin-right: 0;
  }
  nav ul.mb.ul {
    visibility: hidden;
    opacity: 0;
    display: flex;
    justify-content: space-around;
    padding: 0;
    transition: visibility 0.5s, opacity 0.5s, padding 0.5s ease;
  }
  /* ANIMATION */
  nav ul.mb.ul.ul-active {
    visibility: visible;
    opacity: 1;
    padding: 16px 0;
  }
  nav.nav-active {
    max-height: 200px;
  }
  /* ANIMATION END */
}

@media only screen and (max-width: 478px) {
  .wrapper .item {
    width: 80%;
  }
}
