/* #region HOMEPAGE */
.homepage.section {
  width: 100%;
  text-align: center;
  padding: 15px 0;
}
.homepage.section--3rd,
.homepage.section--4th,
.homepage.section--5th,
.homepage.section--6th,
.homepage.section--7th {
  padding-bottom: 42px;
}
.homepage.section .homepage.section__h1 {
  font-weight: 600;
  font-size: 1.4rem;
  padding: 0 20px 10px 0;
  line-height: 1.1em;
  margin: 0;
}
.homepage.section > * {
  padding: 0 14%;
}

.homepage.section--1st {
  display: flex;
  align-items: stretch;
  justify-content: space-around;
}

.homepage.section--1st-left {
  flex: 2;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-right: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.homepage.section--1st-left .homepage.section__h1 {
  margin-bottom: 8px;
  padding-right: 0;
  text-align: start;
}

.homepage.section--1st-left p {
  word-break: break-word;
  line-height: 1.4rem;
  margin: 0 0 1.1em;
  text-align: justify;
}
.homepage.section--1st-left div {
  text-align: start;
}
.homepage.section--1st-left .homepage.section--1st-left__button {
  background-color: #023160;
  border: #023160 1px solid;
  color: white;
  padding: 12px 42px;
  border-radius: 2px;
  font-weight: normal;
  cursor: pointer;
  transition: 0.3s;
}
.homepage.section--1st-left .homepage.section--1st-left__button:hover {
  color: #023160;
  background-color: white;
}
.homepage.section--1st-right {
  flex: 2;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 2%;
}
.homepage.section--1st-right img {
  width: 100%;
}
.homepage.section--2nd {
  background-color: rgb(245, 246, 248);
}
hr {
  background-color: #023160;
  height: 1.8px;
  width: 80px;
  padding: 0 !important;
  border: solid #023160;
  margin-top: -3px;
}
.homepage.list {
  display: flex;
}
.homepage.section--2nd .homepage.list .homepage.list__ul {
  flex: 1;
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  margin-top: 15px;
}

.homepage.list .homepage.list__ul li {
  width: 50%;
  display: flex;
  align-items: start;
  text-align: left;
  height: 33%;
}
.homepage.list-style-type-cus {
  width: 69px;
  padding: 6px 0;
  text-align: center;
  display: inline-block;
}
.homepage.list-style-type-cus span {
  color: white;
  font-size: 1.3rem;
  background-color: #023160;
  padding: 5px 18px;
}
.homepage.list-style-type-cus div {
  display: inline-block;
  width: 0;
  height: 0;
  margin: 0;
  margin-left: -7px;
  margin-top: 1px;
  border-top: 5px solid transparent;
  border-left: 10px solid #023160;
  border-bottom: 5px solid transparent;
  vertical-align: top;
}
.homepage.list .homepage.list__p {
  flex: 1;
  font-size: 1.2rem;
}

/* SLIDER */

.homepage.section .homepage.slider {
  padding-top: 8px;
}

.homepage.section .homepage.slick-slide {
  padding: 8px;
  box-sizing: border-box;
  outline: none;
}
.homepage.section .homepage.slider:hover .homepage.slick-next,
.homepage.section .homepage.slider:hover .homepage.slick-prev {
  opacity: 1;
}

.homepage.section .homepage.slick-next,
.homepage.section .homepage.slick-prev {
  opacity: 0;
  transition: all 0.5s ease;
}
.homepage.section .homepage.slick-next {
  right: 190px;
}
.homepage.section .homepage.slick-prev {
  left: 190px;
}
.homepage.section .homepage.slick-prev,
.homepage.section .homepage.slick-next {
  width: unset;
  height: unset;
}
.homepage.section .homepage.slick-next::before,
.homepage.section .homepage.slick-prev::before {
  font-size: 25px;
  color: #ccc;
}
.homepage.section .homepage.slick-next:hover,
.homepage.section .homepage.slick-prev:hover {
  opacity: 1;
}
.homepage.slick-slider {
  margin-bottom: 0;
}

.homepage.slider-content1 .homepage.slick-slide > img,
.homepage.slider-content2 .homepage.slick-slide > img,
.homepage.slider-content4 .homepage.slick-slide > img {
  margin-bottom: 10px;
}
.homepage.slider-content1 .homepage.slick-slide > p,
.homepage.slider-content2 .homepage.slick-slide > p,
.homepage.slider-content4 .homepage.slick-slide > p {
  text-align: justify;
}

.homepage.slick-dots {
  bottom: unset;
}
.homepage.slick-dots li {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.homepage.slick-dots li button {
  font-size: 1.2rem;
  color: #023160;
  background-color: white;
  border: 1px solid #023160;
  border-radius: 5px;
  text-align: center;
  width: 100%;
  height: 100%;
}
.homepage.slick-dots li.homepage.slick-active button {
  background-color: #023160;
  color: white;
}
.homepage.slick-dots li button::before {
  content: none;
}

.homepage.owl-item {
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.homepage.owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}
.homepage.fcrse_1 {
  background: #fff;
  width: 100%;
  float: left;
  padding: 0;
  border-radius: 5px;
  border: 1px solid #efefef;
  transition: all 0.4s ease;
}
.homepage.fcrse_1:hover {
  box-shadow: 0 0 10px 0 rgb(0 0 0 / 10%);
  -webkit-box-shadow: 0 0 10px 0 rgb(0 0 0 / 10%);
}
.homepage a {
  color: #023160;
  text-decoration: none;
}
.homepage a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
.homepage.owl-item img {
  display: block;
  width: 100%;
}
.homepage.fcrse_img {
  width: 100%;
  float: left;
  position: relative;
}
.homepage.fcrse_img img {
  width: 100%;
  border-style: none;
  vertical-align: middle;
}
.homepage.prce142 {
  position: absolute;
  top: 15px;
  left: 15px;
  background: #fff;
  padding: 4px 15px;
  border-radius: 2px;
  box-shadow: 0 0 0 4px rgb(255 255 255 / 20%);
  font-weight: 600;
  color: #393d4e;
  font-size: 1rem;
  text-align: end;
}

.homepage.makh {
  position: absolute;
  bottom: 5px;
  right: 5px;
  background: #fff;
  padding: 4px 15px;
  border-radius: 2px;
  box-shadow: 0 0 0 4px rgb(255 255 255 / 20%);
  font-weight: 600;
  color: #393d4e;
  font-size: 15px;
}

.homepage.fcrse_content {
  float: left;
  width: 100%;
  position: relative;
}

.homepage.bl-title {
  padding: 20px 20px 5px;
  color: #2d3954;
  font-weight: 600;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
  line-height: 26px;
  margin-bottom: 10px;
  text-align: left;
}

.homepage.bl-title a {
  color: #4a5682;
  text-decoration: none;
  background-color: transparent;
  font-size: 17px;
}

.homepage.vdtodt ul {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 20px 20px;
}

.homepage.vdtodt ul li {
  flex: 0 0 33.333333%;
  width: 33.333333%;
  font-size: 13px;
  color: #4a5874;
}

.homepage.vdtodt ul li i {
  font-size: 14px;
}

.homepage.auth1lnkprce {
  padding: 14px 20px;
  width: 100%;
  display: flex;
  vertical-align: middle;
  align-items: center;
  border-top: 1px solid #f0f1f5;
}
.homepage.education_block_author {
  flex: 1;
  display: flex;
  align-items: center;
}
.homepage.education_block_author .homepage.path-img {
  max-width: 35px;
  height: 35px;
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
  margin-right: 7px;
}
.homepage.img-fluid {
  max-width: 100%;
  height: auto;
  display: block;
}
.homepage.education_block_author h5 {
  margin: 0;
  font-size: 12px;
  font-weight: 600;
  opacity: 1;
}

.homepage.shrt-cart-btn {
  background: rgba(30, 173, 107, 0.13);
  color: #1ead6b;
  padding: 6px 15px;
  font-size: 13px;
  border-radius: 50px;
}

/* SLIDER END */

.homepage.image {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.homepage.image__hp18 {
  width: 50%;
  max-height: 340px;
  padding-right: 1%;
}
.homepage.image__hp19 {
  width: 50%;
  max-height: 340px;
  padding-left: 1%;
}
.homepage.section.homepage.image-2 img {
  width: 100%;
  padding: 0;
  max-height: 430px;
}
.homepage.section--5th {
  display: flex;
  align-items: stretch;
  justify-content: space-around;
}

.homepage.section--5th-left {
  flex: 1;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-right: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 327px;
}
.homepage.section--5th-left .homepage.section__h1 {
  margin-bottom: 8px;
  padding-right: 0;
  text-align: start;
}

.homepage.section--5th-left p {
  word-break: break-word;
  line-height: 1.1rem;
  margin: 0 0 1.1em;
  text-align: justify;
}
.homepage.section--5th-left div {
  text-align: start;
}
.homepage.section--5th-left .homepage.section--5th-left__button {
  background-color: #023160;
  border: #023160 1px solid;
  color: white;
  padding: 12px 42px;
  border-radius: 2px;
  font-weight: normal;
  cursor: pointer;
  transition: 0.3s;
}
.homepage.section--5th-left .homepage.section--5th-left__button:hover {
  color: #023160;
  background-color: white;
}
.homepage.section--5th-right {
  flex: 2;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 2%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.homepage.section--5th-right img {
  width: 20%;
  padding: 5px;
  display: block;
}

.homepage.section--7th .homepage.video-container {
  display: flex;
  max-height: 316px;
}
.homepage.video-left {
  width: 70%;
  padding: 8px;
}
.homepage.video-right {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow-y: auto;
}
.homepage.video-right > div {
  flex: 1;
  padding: 8px;
  width: 100%;
}
.homepage.video-bl .homepage.video a .homepage.overlay {
  background-color: transparent;
  transition: all 0.5s;
}
.homepage.video-bl .homepage.video a:hover .homepage.overlay {
  background-color: #02316050;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 99;
  border-radius: 10px;
}
.homepage.video-bl .homepage.video a {
  position: relative;
  display: block;
  background-image: url("../assets/img/hp3.png");
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transition: all 10s;
  transition-delay: 0.7s;
  cursor: pointer;
  background-position: 0 0;
}
.homepage.video.homepage.slick-slide {
  padding: 8px;
}
.homepage.video img {
  width: 58%;
  padding: 28px;
  text-align: center;
  display: inline-block;
}
.homepage.video-bl .homepage.video a:hover {
  background-size: 150% 150%;
  background-position: -50px -50px;
}

.homepage.slider-content6 {
  margin-bottom: 32px;
}

.homepage.slider-content7 {
  margin-top: 16px;
}
.homepage.slider-content7 .homepage.slick-dots {
  display: none !important;
}
/* RESPONSIVE */
@media only screen and (max-width: 815px) {
}
@media only screen and (max-width: 600px) {
  /* CONTENT BODY*/
  .homepage.section > * {
    padding: 0 5%;
  }
  .homepage.section--1st,
  .homepage.list,
  .homepage.list .homepage.list__ul {
    flex-direction: column;
  }
  .homepage.section--1st-left .homepage.section--1st-left__button {
    margin-bottom: 15px;
  }

  .homepage.section--1st-left .homepage.section--1st-left__button:hover {
    color: white;
    background-color: #023160;
  }
  section.homepage.section .homepage.list .homepage.list__ul li {
    width: 100%;
    flex: unset;
  }
  .homepage.section--1st-left {
    flex: unset;
    padding: 5%;
  }
  .homepage.section--1st-right {
    flex: unset;
    padding: 5%;
  }
  .homepage.list .homepage.list__ul li {
    width: 50%;
    display: flex;
    align-items: start;
    text-align: left;
    min-height: 60px;
  }

  .homepage.section--5th {
    flex-wrap: wrap;
  }
  .homepage.section--5th-left {
    flex: unset;
    padding: 5%;
  }
  .homepage.section--5th-right {
    flex: unset;
    padding: 5%;
  }

  .homepage.section--7th .homepage.video-container {
    display: block;
    max-height: unset;
  }
  .homepage.video-left {
    width: 100%;
    padding: 8px 0;
  }
  .homepage.video-right {
    width: 100%;
  }
  .homepage.video-right > div {
    padding: 8px 0;
    width: 100%;
  }

  .homepage iframe {
    padding: 0 5% !important;
    width: unset !important;
  }
  .homepage.section .homepage.section__h1 {
    padding: 10px 0;
  }
  .homepage.list .homepage.list__ul {
    padding: 0;
  }
  .homepage.slider-content
    .homepage.list
    .homepage.list__ul
    .homepage.list__li {
    display: none;
  }
  .homepage.slider-content
    .homepage.list
    .homepage.list__ul
    .homepage.list__li:first-child {
    display: inline-block;
  }
  .homepage.image__hp18,
  .homepage.image__hp19 {
    width: 100%;
    padding: 5%;
  }

  .homepage.slick-dots li {
    width: 20px;
    height: 20px;
  }

  .homepage.slick-dots li button {
    font-size: 1.1rem;
  }
  /* CONTENT BODY END */
}
@media only screen and (max-width: 478px) {
}

/* #endregion HOMEPAGE */
