.section {
  width: 100%;
  text-align: center;
  padding: 15px 0;
}
.section .section__h1 {
  font-weight: 600;
  font-size: 1.4rem;
  padding: 0 20px 10px 0;
  line-height: 1.1em;
  margin: 0;
}
.section > * {
  padding: 0 7%;
}
.section--1st {
  display: flex;
  align-items: stretch;
  justify-content: space-around;
}

.section--1st-left {
  flex: 2;
  padding: 3% 2% 3% 7%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section--1st-left .section__h1 {
  margin-bottom: 8px;
  padding-right: 0;
  text-align: start;
}

.section--1st-left p {
  word-break: break-word;
  line-height: 1.1rem;
  margin: 0 0 1.1em;
  text-align: justify;
}
.section--1st-left div {
  text-align: start;
}
.section--1st-left .section--1st-left__button {
  background-color: #023160;
  border: #023160 1px solid;
  color: white;
  padding: 12px 42px;
  border-radius: 2px;
  font-weight: normal;
  cursor: pointer;
  transition: 0.3s;
}
.section--1st-left .section--1st-left__button:hover {
  color: #023160;
  background-color: white;
}
.section--1st-right {
  flex: 2;
  padding: 3% 7% 3% 2%;
}
.section--1st-right img {
  width: 100%;
}
.section--2nd {
  background-color: rgb(245, 246, 248);
}
hr {
  background-color: #023160;
  height: 1.8px;
  width: 80px;
  padding: 0 !important;
  border: solid #023160;
  margin-top: -3px;
}
.list {
  display: flex;
}
.section--2nd .list .list__ul {
  flex: 1;
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  margin-top: 15px;
}

.list .list__ul li {
  width: 50%;
  display: flex;
  align-items: start;
  text-align: left;
  height: 33%;
}
.list-style-type-cus {
  width: 69px;
  padding: 6px 0;
  text-align: center;
  display: inline-block;
}
.list-style-type-cus span {
  color: white;
  font-size: 1.3rem;
  background-color: #023160;
  padding: 5px 18px;
}
.list-style-type-cus div {
  display: inline-block;
  width: 0;
  height: 0;
  margin: 0;
  margin-left: -7px;
  margin-top: 1px;
  border-top: 5px solid transparent;
  border-left: 10px solid #023160;
  border-bottom: 5px solid transparent;
  vertical-align: top;
}
.list .list__p {
  flex: 1;
  font-size: 1.2rem;
}

/* SLIDER */

.section .slider {
  padding-top: 30px;
}

.section .slick-slide {
  padding: 8px;
  box-sizing: border-box;
  outline: none;
}
.section .slider:hover .slick-next,
.section .slider:hover .slick-prev {
  opacity: 1;
}

.section .slick-next,
.section .slick-prev {
  opacity: 0;
  transition: all 0.5s ease;
}
.section .slick-next {
  right: 55px;
}
.section .slick-prev {
  left: 55px;
}
.section .slick-prev,
.section .slick-next {
  width: unset;
  height: unset;
}
.section .slick-next::before,
.section .slick-prev::before {
  font-size: 25px;
  color: #ccc;
}
.section .slick-next:hover,
.section .slick-prev:hover {
  opacity: 1;
}
.slick-slider {
  margin-bottom: 0;
}

.slider-content1 .slick-slide > img,
.slider-content2 .slick-slide > img,
.slider-content4 .slick-slide > img {
  margin-bottom: 10px;
}
.slider-content1 .slick-slide > p,
.slider-content2 .slick-slide > p,
.slider-content4 .slick-slide > p {
  text-align: justify;
}

.slick-dots {
  top: 8px;
  right: 5%;
  width: fit-content;
  left: unset;
  bottom: unset;
}

.slick-dots li button {
  font-size: 1.2rem;
  color: #023160;
  background-color: white;
  border: 1px solid #023160;
  border-radius: 5px;
}
.slick-dots li.slick-active button {
  background-color: #023160;
  color: white;
}
.slick-dots li button::before {
  content: none;
}

.owl-item {
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}
.fcrse_1 {
  background: #fff;
  width: 100%;
  float: left;
  padding: 0;
  border-radius: 5px;
  border: 1px solid #efefef;
  transition: all 0.4s ease;
}
.fcrse_1:hover {
  box-shadow: 0 0 10px 0 rgb(0 0 0 / 10%);
  -webkit-box-shadow: 0 0 10px 0 rgb(0 0 0 / 10%);
}
a {
  color: #023160;
  text-decoration: none;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
.owl-item img {
  display: block;
  width: 100%;
}
.fcrse_img {
  width: 100%;
  float: left;
  position: relative;
}
.fcrse_img img {
  width: 100%;
  border-style: none;
  vertical-align: middle;
}
.prce142 {
  position: absolute;
  top: 15px;
  left: 15px;
  background: #fff;
  padding: 4px 15px;
  border-radius: 2px;
  box-shadow: 0 0 0 4px rgb(255 255 255 / 20%);
  font-weight: 600;
  color: #393d4e;
  font-size: 15px;
}

.fcrse_content {
  float: left;
  width: 100%;
  position: relative;
}

.bl-title {
  padding: 20px 20px 5px;
  color: #2d3954;
  font-weight: 600;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
  line-height: 26px;
  margin-bottom: 10px;
  text-align: left;
}

.bl-title a {
  color: #4a5682;
  text-decoration: none;
  background-color: transparent;
  font-size: 17px;
}

.vdtodt ul {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 20px 20px;
}

.vdtodt ul li {
  flex: 0 0 33.333333%;
  width: 33.333333%;
  font-size: 13px;
  color: #4a5874;
}

.vdtodt ul li i {
  font-size: 14px;
}

.auth1lnkprce {
  padding: 14px 20px;
  width: 100%;
  display: flex;
  vertical-align: middle;
  align-items: center;
  border-top: 1px solid #f0f1f5;
}
.education_block_author {
  flex: 1;
  display: flex;
  align-items: center;
}
.education_block_author .path-img {
  max-width: 35px;
  height: 35px;
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
  margin-right: 7px;
}
.img-fluid {
  max-width: 100%;
  height: auto;
  display: block;
}
.education_block_author h5 {
  margin: 0;
  font-size: 12px;
  font-weight: 600;
  opacity: 1;
}

.shrt-cart-btn {
  background: rgba(30, 173, 107, 0.13);
  color: #1ead6b;
  padding: 6px 15px;
  font-size: 13px;
  border-radius: 50px;
}

/* SLIDER END */

.image {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.image__hp18 {
  width: 50%;
  max-height: 340px;
  padding: 0 1% 0 7.5%;
}
.image__hp19 {
  width: 50%;
  max-height: 340px;
  padding: 0 7.5% 0 1%;
}
.section.image-2 img {
  width: 100%;
  padding: 0;
  max-height: 430px;
}
.section--5th {
  display: flex;
  align-items: stretch;
  justify-content: space-around;
}

.section--5th-left {
  flex: 1;
  padding: 3% 2% 3% 7%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 327px;
}
.section--5th-left .section__h1 {
  margin-bottom: 8px;
  padding-right: 0;
  text-align: start;
}

.section--5th-left p {
  word-break: break-word;
  line-height: 1.1rem;
  margin: 0 0 1.1em;
  text-align: justify;
}
.section--5th-left div {
  text-align: start;
}
.section--5th-left .section--5th-left__button {
  background-color: #023160;
  border: #023160 1px solid;
  color: white;
  padding: 12px 42px;
  border-radius: 2px;
  font-weight: normal;
  cursor: pointer;
  transition: 0.3s;
}
.section--5th-left .section--5th-left__button:hover {
  color: #023160;
  background-color: white;
}
.section--5th-right {
  flex: 2;
  padding: 3% 7% 3% 2%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.section--5th-right img {
  width: 20%;
  padding: 5px;
  display: block;
}

.slider-content5 .video a:hover .overlay {
  background-color: #02316050;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 99;
  border-radius: 10px;
}
.slider-content5 .video a {
  position: relative;
  display: block;
  background-image: url("/assets/img/hp3.png");
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transition: all 10s;
  cursor: pointer;
  background-position: 0 0;
}
.video.slick-slide {
  padding: 8px;
}
.video img {
  width: 58%;
  height: 50%;
  padding: 28px;
  text-align: center;
  display: inline-block;
}
.slider-content5 .video a:hover {
  background-size: 150% 150%;
  background-position: -50px -50px;
}

.testimonial-item {
  position: relative;
  padding: 31px 19px 29px;
  background: #f8f8f8;
  border-radius: 8px;
}
.testimonial-quote-icon {
  top: 15px;
  right: 20px;
  position: absolute;
  font-size: 32px;
  line-height: 1;
}
.testimonial-quote-icon svg {
  fill: #e0e3e6;
}
.testimonial-main-content {
  text-align: left;
}
.testimonial-main-content .title {
  font-size: 18px;
  line-height: 1.67;
  margin: 0 0 11px;
  color: #0071dc;
}
.testimonial-main-content .text {
  font-size: 16px;
  line-height: 32px;
  color: #696969;
  font-weight: 600;
}
.testimonial-main-content .image {
  margin: 0 15px 0 0;
  width: 35%;
}
.testimonial-main-content .image img {
  width: 60px;
  height: 60px;
}
.testimonial-main-content .image img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  max-width: 100%;
}
.testimonial-main-content .name {
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  margin-bottom: 0;
}
.testimonial-main-content .position {
  margin: 3px 0 0;
  display: block;
  font-size: 14px;
  color: #696969;
}
.testimonial-main-content .info {
  padding: 35px 0 0;
}
.testimonial-main-content .info {
  padding: 20px 0 0;
}
.testimonial-main-content .info {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: start;
}
.testimonial-quote-icon svg {
  -webkit-transform: scale(-1);
  -ms-transform: scale(-1);
  transform: scale(-1);
  width: 1em;
  height: auto;
}
/* RESPONSIVE */
@media only screen and (max-width: 815px) {
}
@media only screen and (max-width: 600px) {
  /* CONTENT BODY*/
  .section > * {
    padding: 0 5%;
  }
  .section--1st,
  .list,
  .list .list__ul {
    flex-direction: column;
  }
  .section--1st-left .section--1st-left__button {
    margin-bottom: 15px;
  }

  .section--1st-left .section--1st-left__button:hover {
    color: white;
    background-color: #023160;
  }
  section.section .list .list__ul li {
    width: 100%;
    flex: unset;
  }
  .section--1st-left {
    flex: unset;
    padding: 5%;
  }
  .section--1st-right {
    flex: unset;
    padding: 5%;
  }
  .list .list__ul li {
    width: 50%;
    display: flex;
    align-items: start;
    text-align: left;
    min-height: 60px;
  }

  .section--5th {
    flex-wrap: wrap;
  }
  .section--5th-left {
    flex: unset;
    padding: 5%;
  }
  .section--5th-right {
    flex: unset;
    padding: 5%;
  }
  iframe {
    padding: 0 5% !important;
    width: unset !important;
  }
  .section .section__h1 {
    padding: 10px 0;
  }
  .list .list__ul {
    padding: 0;
  }
  .slider-content .list .list__ul .list__li {
    display: none;
  }
  .slider-content .list .list__ul .list__li:first-child {
    display: inline-block;
  }
  .image__hp18,
  .image__hp19 {
    width: 100%;
    padding: 5%;
  }
  /* CONTENT BODY END */
}
@media only screen and (max-width: 478px) {
}
