.ctn-sn {
  width: 100%;
  text-align: center;
  padding: 15px 0;
  background-color: #f4f8ff !important;
}

.ctn-sn > div {
  padding: 0 0%;
}
.ctn-sn > div > * {
  padding: 0 1%;
}
/* #region Pagnigation */
.pagination {
  text-align: center;
  justify-content: flex-end;
  padding: 16px 16px 0 16px;
}
.pagination a {
  color: black;
  padding: 5px 10px;
  text-decoration: none;
  background-color: #fff;
  border-radius: 0;
  border: #023160 1px solid;
  margin: 4px;
}

.pagination a.active {
  background-color: #023160;
  color: white;
  border-radius: 0;
}

.pagination a:hover:not(.active) {
  border-radius: 0;
}

/* #endregion Pagnigation */

/* #region THÔNG TIN GIAO DỊCH  */
.ttgd {
  width: 100%;
  margin-top: 24px;
  margin-bottom: 16px;
}
.ttgd table,
.ttgd tr {
  width: 100%;
}
.ttgd thead tr {
  border-bottom: #89a1c6 solid 2px;
}
.ttgd th,
.ttgd td {
  max-width: 200px;
  overflow-wrap: break-word;
  text-align: center;
  padding: 1em;
}
.ttgd td:nth-child(3) {
  text-align: left;
}
.ttgd i {
  font-size: 1rem;
}
.ttgd td:nth-child(7) button {
  min-width: 108px;
  color: white;
  border: none;
}
.ttgd td:nth-child(7) > button:first-child {
  background-color: #023160;
  margin-bottom: 5px;
}
/* #endregion THÔNG TIN GIAO DỊCH */

/* #region MODAL */
.modal-header {
  padding: 0;
}
.modal-header > div > div:first-child {
  height: 156px;
  background-image: url("./assets/img/banner1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.modal-header > div > h5 {
  text-align: center;
  color: #023160;
  margin: 1em 0;
  font-size: 1.2rem;
}
.modal-dialog.modal-dialog-scrollable {
  width: 60%;
  max-width: unset;
}
/* #endregion MODAL */

/* #region RESPONSIVE */
@media only screen and (max-width: 768px) {
  .modal-dialog.modal-dialog-scrollable {
    width: 95%;
    max-width: unset;
  }
}
@media only screen and (max-width: 600px) {
  html {
    font-size: 11px;
  }
  .hscn .btn-primary {
    padding: 1em 2em;
  }
  .mb {
    display: block;
  }
  .ttgd th:nth-child(1),
  .ttgd th:nth-child(4),
  .ttgd th:nth-child(5) {
    display: none;
  }
  .ttgd td:nth-child(1),
  .ttgd td:nth-child(4),
  .ttgd td:nth-child(5) {
    display: none;
  }
}
/* #endregion RESPONSIVE */
