.ctn-sn {
  width: 100%;
  text-align: center;
  padding: 15px 0;
}

.ctn-sn > div {
  padding: 0 13%;
}
.ctn-sn > div > * {
  padding: 0 1%;
}
.figure {
  text-align: left;
  margin: 0;
  padding: 0 4px;
  margin-bottom: 16px;
}

.figure > img {
  border-radius: 5px;
}
.figure-caption > h1 {
  font-size: 1.4rem;
  margin: 0.3em 0;
  font-weight: 500;
}
.figure-caption > div {
  color: #023160;
}
/* #region CTN-SECTION 1 */

.ctn-sn-1 > div {
  display: flex;
}
.ctn-sn-1 .sn-1--left {
  flex: 2;
}
.ctn-sn-1 .sn-1--right {
  flex: 1;
}
.ctn-sn-1 .sn-1--right.mb {
  display: none;
}
/* left */

.ctn-sn-1 .sn-1--left > div > div {
  display: flex;
  margin-top: 16px;
}
.ctn-sn-1 .sn-1--left > div > div > .figure {
  flex: 1;
  padding: 4px;
}

.ctn-sn-1 .sn-1--left > div > div .figure-caption h1 {
  font-size: 1rem;
  font-weight: 500;
}
.ctn-sn-1 .sn-1--left > div > div .figure-caption div {
  font-size: 0.8rem;
}
.ctn-sn-1 .sn-1--left > div > h1 {
  text-align: left;
  margin-left: 3%;
  font-size: 1.5rem;
}
.ctn-sn-1 .sn-1--left > div > span {
  width: 2px;
  position: absolute;
  width: 8px;
  height: 32px;
  left: 0%;
  top: -5px;
  background: #023160;
  border-radius: 20px;
}
/* right */
.bar {
  width: 100%;
  min-height: 20%;
  height: auto;
  background-color: white;
  border-radius: 10px;
}

.bar-head {
  padding: 16px;
  background-color: #023160;
  border-radius: 10px 10px 0 0;
}
.bar-head .bar-head__title {
  color: white;
  text-align: center;
  font-weight: normal;
}
.bar-content {
  height: 581px;
  overflow-y: auto;
  background-color: white;
}
.bar-content ul {
  width: 100%;
  padding: 5px 5px;
  overflow-y: auto;
}
.bar-3 .bar-content li {
  cursor: pointer;
  display: flex;
  align-items: flex-start;
  padding: 15px 5px;
}
.bar-content img {
  width: 65px;
  margin-right: 15px;
}
.bar-content a {
  width: 80%;
  color: black;
  font-weight: 600;
  font-size: 1.1rem;
  text-align: start;
}

.bar-content a span {
  font-size: 0.9rem;
  font-weight: normal;
}

.sn-1--right h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 1.5rem;
  text-align: start;
}
.sn-1--right .item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.sn-1--right .item > div:nth-child(1) {
  width: 60%;
  padding: 8px;
  padding-left: 0;
  min-width: 150px;
  height: 135px;
}
.sn-1--right .item > div:nth-child(2) {
  width: 40%;
  min-width: 119px;
}

/* #region SCROLLBAR */
/* width */

.bar-content::-webkit-scrollbar {
  width: 8px;
}

/* Track */

.bar-content::-webkit-scrollbar-track {
  background: white;
}

/* Handle */

.bar-content::-webkit-scrollbar-thumb {
  background: #023160;
}
.bar-content::-webkit-scrollbar-thumb:hover {
  background: #023160;
}
/* #endregion SCROLLBAR */

/* #endregion SECTION 1 */

/* #region CTN-SECTION 3 */

.ctn-sn-3 > div {
  max-height: 537px;
  margin-bottom: 32px;
}

.ctn-sn-3 > div > div > span {
  position: absolute;
  width: 8px;
  height: 32px;
  left: 1%;
  top: -5px;
  background: #023160;
  border-radius: 20px;
}
.ctn-sn-3 > div > div > h1 {
  text-align: left;
  margin-left: 2%;
  font-size: 1.5rem;
}
.ctn-sn-3 .slider {
  padding-top: 8px;
}
.ctn-sn-3 .slick-slide {
  padding: 8px;
  box-sizing: border-box;
  outline: none;
}
.ctn-sn-3 .slider:hover .slick-next,
.ctn-sn-3 .slider:hover .slick-prev {
  opacity: 1;
}

.ctn-sn-3 .slick-next,
.ctn-sn-3 .slick-prev {
  opacity: 0;
  transition: all 0.5s ease;
}
.ctn-sn-3 .slick-next {
  right: 190px;
}
.ctn-sn-3 .slick-prev {
  left: 190px;
}
.ctn-sn-3 .slick-prev,
.ctn-sn-3 .slick-next {
  width: unset;
  height: unset;
}
.ctn-sn-3 .slick-next::before,
.ctn-sn-3 .slick-prev::before {
  font-size: 25px;
  color: #ccc;
}
.ctn-sn-3 .slick-next:hover,
.ctn-sn-3 .slick-prev:hover {
  opacity: 1;
}
.slick-slider {
  margin-bottom: 0;
}

.slider-content4 .slick-slide > img {
  margin-bottom: 10px;
}

.slider-content4 .slick-slide > p {
  text-align: justify;
}

.slick-dots {
  bottom: unset;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  font-size: 1.2rem;
  color: #023160;
  background-color: white;
  border: 1px solid #023160;
  border-radius: 5px;
  text-align: center;
  width: 100%;
  height: 100%;
}
.slick-dots li.slick-active button {
  background-color: #023160;
  color: white;
}
.slick-dots li button::before {
  content: none;
}

.owl-item {
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}
.fcrse_1 {
  background: #fff;
  width: 100%;
  float: left;
  padding: 0;
  border-radius: 5px;
  border: 1px solid #efefef;
  transition: all 0.4s ease;
}
.fcrse_1:hover {
  box-shadow: 0 0 10px 0 rgb(0 0 0 / 10%);
  -webkit-box-shadow: 0 0 10px 0 rgb(0 0 0 / 10%);
}
a {
  color: #023160;
  text-decoration: none;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
.owl-item img {
  display: block;
  width: 100%;
}
.fcrse_img {
  width: 100%;
  float: left;
  position: relative;
}
.fcrse_img img {
  width: 100%;
  border-style: none;
  vertical-align: middle;
}
.prce142 {
  position: absolute;
  top: 15px;
  left: 15px;
  background: #fff;
  padding: 4px 15px;
  border-radius: 2px;
  box-shadow: 0 0 0 4px rgb(255 255 255 / 20%);
  font-weight: 600;
  color: #393d4e;
  font-size: 1rem;
  text-align: end;
}

.makh {
  position: absolute;
  bottom: 5px;
  right: 5px;
  background: #fff;
  padding: 4px 15px;
  border-radius: 2px;
  box-shadow: 0 0 0 4px rgb(255 255 255 / 20%);
  font-weight: 600;
  color: #393d4e;
  font-size: 15px;
}

.fcrse_content {
  float: left;
  width: 100%;
  position: relative;
}

.bl-title {
  padding: 20px 20px 5px;
  color: #2d3954;
  font-weight: 600;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
  line-height: 26px;
  margin-bottom: 10px;
  text-align: left;
}

.bl-title a {
  color: #4a5682;
  text-decoration: none;
  background-color: transparent;
  font-size: 17px;
}

.vdtodt ul {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 20px 20px;
}

.vdtodt ul li {
  flex: 0 0 33.333333%;
  width: 33.333333%;
  font-size: 13px;
  color: #4a5874;
}

.vdtodt ul li i {
  font-size: 14px;
}

.auth1lnkprce {
  padding: 14px 20px;
  width: 100%;
  display: flex;
  vertical-align: middle;
  align-items: center;
  border-top: 1px solid #f0f1f5;
}
.education_block_author {
  flex: 1;
  display: flex;
  align-items: center;
}
.education_block_author .path-img {
  max-width: 35px;
  height: 35px;
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
  margin-right: 7px;
}
.img-fluid {
  max-width: 100%;
  height: auto;
  display: block;
}
.education_block_author h5 {
  margin: 0;
  font-size: 12px;
  font-weight: 600;
  opacity: 1;
}

.shrt-cart-btn {
  background: rgba(30, 173, 107, 0.13);
  color: #1ead6b;
  padding: 6px 15px;
  font-size: 13px;
  border-radius: 50px;
}
/* #endregion CTN-SECTION 3 */

/* #region CTN-SECTION 4 */
.ctn-sn-4 .sn {
}
.ctn-sn-4 > div {
  display: flex;
}
.ctn-sn-4 .sn-1--left {
  flex: 2;
}
.ctn-sn-4 .sn-1--right {
  flex: 1;
}

/* left */
.ctn-sn-4 > div > div > span {
  position: absolute;
  width: 8px;
  height: 32px;
  left: 1%;
  top: 22px;
  background: #023160;
  border-radius: 20px;
}
.ctn-sn-4 > div > div > h1 {
  text-align: left;
  margin-left: 2%;
  font-size: 1.5rem;
}
.ctn-sn-4 .sn-1--right h1 {
  margin-bottom: 8px;
  margin-top: 34px;
}
.ctn-sn-4 .sn-1--left .item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 8px;
}
.ctn-sn-4 .sn-1--left .item > div:nth-child(2) {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  text-align: left;
  padding-left: 5px;
}
.ctn-sn-4 .sn-1--left .item > div:nth-child(1) {
  width: 35%;
  height: 135px;
}
.ctn-sn-4 .sn-1--left .item > div:nth-child(2) > div {
  padding: 2px 0;
  line-height: 1.2em;
}

/* right */

/* #endregion CTN-SECTION 4 */

/* RESPONSIVE */
@media only screen and (max-width: 815px) {
  .ctn-sn-4 > div > div > span {
    position: absolute;
    width: 8px;
    height: 25px;
    left: 1%;
    top: 17px;
    background: #023160;
    border-radius: 20px;
  }
  .ctn-sn-4 > div > div > h1 {
    text-align: left;
    margin-left: 3%;
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 600px) {
  .ctn-sn > div {
    padding: 0 1%;
  }

  .figure-caption > h1 {
    font-size: 1.4rem;
    margin: 0.3em 0;
    font-weight: 500;
  }

  /* #region CTN-SECTION 1 */

  .ctn-sn-1 > div {
    display: block;
  }
  .ctn-sn-1 .sn-1--left {
    width: 100%;
  }
  .ctn-sn-1 .sn-1--right > * {
    display: none;
  }

  /* left */

  /* right */
  .ctn-sn-1 .sn-1--right .bar-3 {
    display: block;
  }
  .sn-1--right img {
    padding: 0 0;
  }
  .see-more {
    display: none;
  }

  /* #endregion SECTION 1 */

  .ctn-sn-5 .sn-1--right h1 {
    margin-bottom: 16px;
  }
  .ctn-sn-5 .sn-1--right {
    display: block;
  }
  .ctn-sn-5 .sn-1--right img {
    width: 49%;
    padding: 0 !important;
  }
  /* #region CTN-SECTION 3 */
  .ctn-sn-3 > div > div > h1 {
    text-align: left;
    margin-left: 3%;
    font-size: 1.5rem;
  }
  /* #endregion CTN-SECTION 3 */

  /* #region CTN-SECTION 4 */
  .ctn-sn-4 .sn {
  }
  .ctn-sn-4 > div {
    display: block;
  }
  .ctn-sn-4 .sn-1--left {
    width: 100%;
  }
  .ctn-sn-4 .sn-1--right {
    display: none;
  }
  /* left */
  .ctn-sn-4 > div > div > span {
    position: absolute;
    width: 8px;
    height: 32px;
    left: 1%;
    top: -4px;
    background: #023160;
    border-radius: 20px;
  }
  .ctn-sn-4 > div > div > h1 {
    text-align: left;
    margin-left: 4%;
    font-size: 1.5rem;
  }

  .ctn-sn-4 .sn-1--left .item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 8px 0;
  }

  .ctn-sn-4 .sn-1--left .item > div:nth-child(2) {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    padding-left: 5px;
    font-size: 0.8rem;
  }
  .ctn-sn-4 .sn-1--left .item > div:nth-child(2) > div:nth-child(1) {
    font-size: 1rem !important;
  }
  .ctn-sn-4 .sn-1--left .item > div:nth-child(1) {
    width: 30%;
    height: 135px;
  }
  .ctn-sn-4 .sn-1--right.mb {
    display: block;
    width: 100%;
  }

  .sn-1--right.mb .slider-1 {
    margin-top: 16px;
  }
  .sn-1--right img {
    padding: 0 0;
  }
  .sn-1--right.mb .item > div {
    width: unset;
    padding: unset;

    min-width: unset;
    height: unset;
  }

  .sn-1--right.mb .slick-initialized .slick-slide {
    padding: 2px;
  }

  .sn-1--right.mb .slick-dots li button {
    font-size: 0;
    color: #023160;
    background-color: white;
    border: 1px solid #023160;
    border-radius: 5px;
    text-align: center;
    width: 32px;
    height: 0;
  }
  .sn-1--right.mb .slick-dots li.slick-active button {
    background-color: #023160;
    color: white;
  }

  /* #endregion CTN-SECTION 4 */
}
@media only screen and (max-width: 478px) {
  .sn-1--right.mb .item > div > div {
    font-size: 0.8rem !important;
  }
  .ctn-sn-5 .sn-1--right {
    display: block;
    margin-top: 48px;
  }
}
