/* #region INIT SET */
:root,
a,
h1,
* {
  color: #023160;
}
:root,
body {
  text-decoration: none;
  outline: none;
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer */
  -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none; /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}
pre,
code,
blockquote,
input,
textarea {
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  -webkit-touch-callout: text;
}
a {
  cursor: pointer;
}
.ctn-sn {
  width: 100%;
  height: 798px;
}
.sn {
  max-height: 685px;
  margin-top: 113px;
}
.sn--left {
  float: left;
  min-width: 457px;
  width: 69%;
  height: 100%;
}
.sn--right {
  float: right;
  min-width: 145px;
  width: 31%;
  height: 100%;
}
.btn-sidebar {
  display: none;
}
/* #endregion INIT SET */

/*#region SN LEFT */
.sn--left .tt {
  height: 120px;
  padding: 8px 16px;
}

.tt .breadcrumb {
}

.tt > h1 {
  font-size: 1.5rem;
  margin: 0.7em 0 0.4em 0;
}
.tt > div > span {
  margin-right: 1.2em;
}

.video-lesson {
  height: calc(100% - 120px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.video-lesson video {
  width: 100%;
  height: auto;
}

.ctl-lesson {
  padding: 8px 16px 16px 16px;
}

.ctl-lesson > p {
  color: #023160;
  font-size: 1.4rem;
  font-weight: normal;
}
.ctl-lesson > div > a {
  width: 129px;
  line-height: 48px;
  background-color: #9facb7;
  border-radius: 1px;
  text-align: center;
}
.ctl-lesson > div > a:nth-child(1) {
  float: left;
}
.ctl-lesson > div > a:nth-child(2) {
  float: right;
}
/*#endregion SN LEFT */

/*#region SN RIGHT */
.tabs {
  display: flex;
  justify-content: start;
  align-items: start;
  margin-bottom: 8px;
  height: 40px;
}
.tabs > div {
  flex: 1;
  height: 100%;
  padding: 6px 18px;
  background-repeat: no-repeat;
  background-size: 28%;
  background-position: center;
}
.tabs > div.active {
  background-color: #023160;
}
.tabs > div:nth-child(1) {
  background-image: url("../common/unicons/svg/menu.png");
}
.tabs > div.active:nth-child(1) {
  background-image: url("../common/unicons/svg/menu-white.png");
}
.tabs > div:nth-child(2) {
  background-image: url("../common/unicons/svg/chat.png");
}
.tabs > div.active:nth-child(2) {
  background-image: url("../common/unicons/svg/chat-white.png");
}

.tabs > div:nth-child(3) {
  background-image: url("../common/unicons/svg/question.png");
}
.tabs > div.active:nth-child(3) {
  background-image: url("../common/unicons/svg/question-white.png");
}

.tabs > div:nth-child(4) {
  background-image: url("../common/unicons/svg/evaluation.png");
}
.tabs > div.active:nth-child(4) {
  background-image: url("../common/unicons/svg/evaluation-white.png");
}
.tabs > div:nth-child(5) {
  background-image: url("../common/unicons/svg/document-rule.png");
}
.tabs > div.active:nth-child(5) {
  background-image: url("../common/unicons/svg/document-rule-white.png");
}
.tabs .tab {
  cursor: pointer;
  transition: all 0.2s ease;
}
.tabs .tab:hover {
  background-color: #bbc9d46c;
}

.tabs-ct .tab-ct {
  display: none;
}
.tab-ct > *:first-child {
  max-height: 636px;
  overflow-y: auto;
}
.tabs-ct .tab-ct.active {
  display: block;
}
/*#endregion SN RIGHT */

/* #region TAB LESSON */
.chaps {
  padding-bottom: 0;
}
.chaps .chap {
  padding: 16px 0;
}
.chap > h1 {
  padding: 0 8px;
  cursor: pointer;
}
.epss > li:nth-child(2n + 1) {
  background-color: #bbc9d46c;
}

.epss > li > .meta {
  cursor: pointer;
  padding: 18px 8px;
  display: flex;
}
.epss .meta > div:nth-child(1) {
  width: calc(100% - 48px);
}
.epss .meta > div:nth-child(2) {
  width: 48px;
}
.epss .meta i {
  color: green;
}
.epss .pgr {
  background-color: #9facb7;
  height: 6px;
}
.epss .pgr > div {
  width: 17%;
  height: 100%;
  background-color: #ffc107;
  border-radius: 2px;
}
/* #endregion TAB LESSON */

/* #region TAB discuss */

.tab-ct .discuss {
  padding: 8px;
  max-height: 555px;
  overflow-y: auto;
}
.discuss > ul > li > div:first-child {
  display: flex;
  align-items: start;
  justify-content: start;
}
.discuss .dc-bd {
  border-radius: 10px;
  border: 1px solid #e5e5e5;
  min-height: 40px;
  padding: 6px 16px 12px 16px;
}

.discuss .dc-meta {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: start;
  height: 29px;
}
.dc-meta .username {
  display: block;
  font-weight: bold;
}

.dc-bd .dc-cont {
  font-style: italic;
}
.dc-reply-bl {
  margin-left: 50px;
  margin-top: 16px;
  margin-bottom: 16px;
}
.dc-reply-bl > ul > li {
  display: flex;
  align-items: start;
  justify-content: start;
  margin-top: 8px;
}
.dc-reply-bl .dc-rpl-bd {
  border-radius: 10px;
  border: 1px solid #e5e5e5;
  min-height: 40px;
  padding: 6px 16px 12px 16px;
}

.dc-reply-bl .dc-rpl-meta {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: start;
  height: 29px;
}
.dc-rpl-meta .username {
  display: block;
  font-weight: bold;
}

.dc-rpl-bd .dc-rpl-cont {
  font-style: italic;
}
.discuss-f {
  padding: 16px 0;
}

.btn-discuss,
.btn-situation,
.btn-eva {
  background-color: #023160;
  text-align: center;
  font-weight: 300;
  color: white;
  padding: 15px;
  border-radius: 0 0 10px 10px;
  margin-top: 16px;
}
/* #endregion TAB discuss */

/* #region TAB QUESTION */
.situation {
  height: 555px;
  padding: 0 8px;
}
.lst-ctr > ul > li {
  width: 100%;
  margin: 8px 0;
}
.lst-ctr > ul:not(.rules) > li > a {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  color: #023160;
}

.lst-ctr > ul > li > a > div {
  width: 85%;
  font-size: 1.2rem;
}
.lst-ctr > ul > li > a > i {
  color: #023160;
  vertical-align: middle;
  font-size: 1.7rem;
}
.uil-plus::before {
  font-weight: bold;
}

.lst-ctr > ul > li.active > a i::before {
  content: "\ea8d";
}

.lst-ctr .lst-eps {
  margin-top: -2px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease;
}
.lst-ctr li.active .lst-eps {
  max-height: 1000px;
  overflow-y: auto;
}

.lst-eps > li {
  width: 100%;
  padding: 0 12px;
  background-color: #ccc;
}

.lst-eps > li > a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(139, 139, 139);
  padding: 0px 12px;
  line-height: 45px;
}
.lst-eps > li:last-child > a {
  border-bottom: none;
}
.lst-eps > li > a > div {
  width: 85%;
}
.lst-eps .lst-eps__trial {
  width: 75px;
  color: red;
}
.lst-eps > li > a i {
  font-size: 1.7rem;
}
/* #endregion TAB QUESTION */

/*#region TAB EVA */
.evaluation {
  padding: 16px;
}
.evaluation textarea {
  border: none;
  background-color: #e8ebee;
  border-radius: 10px;
  margin-bottom: 8px;
  padding: 8px;
  float: left;
  width: 100%;
  min-height: 150px;
  outline: none;
  resize: none;
}
.evaluation svg {
}
/* #endregion TAB EVA */

/*#region TAB RULE */
.rules {
  height: 636px;
  padding: 0 4px;
}
.rules ul {
  width: 100%;
  padding: 5px 5px;
  overflow-y: auto;
}
.rules {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.rules li {
  cursor: pointer;
  display: flex;
  align-items: flex-start;
  padding: 15px 5px;
}
.rules img {
  width: 65px;
  margin-right: 15px;
}
.rules a {
  width: 80%;
  color: black;
  font-weight: 600;
  font-size: 1.1rem;
}

.rules a span {
  font-size: 0.9rem;
  font-weight: normal;
}
/* #endregion TAB RULE */

/* width */

.tab-ct > *:first-child::-webkit-scrollbar {
  width: 8px;
}

/* Track */

.tab-ct > *:first-child::-webkit-scrollbar-track {
  background: white;
}

/* Handle */

.tab-ct > *:first-child::-webkit-scrollbar-thumb {
  background: #023160;
}
.tab-ct > *:first-child::-webkit-scrollbar-thumb:hover {
  background: #023160;
}

/* #region REMAIN SECTION */

.title {
  background-color: transparent !important;
  padding: 16px 3%;
}
.title > h1 {
  font-size: 1.5rem;
}
.ctn-sn-1 {
  background-color: aliceblue !important;
  width: 100%;
  height: 624px;
}
.ctn-sn-1 .sn {
  margin-top: 0;
  max-height: unset;
  background-color: white;
  height: 584px !important;
}
.ctn-sn-1 .sn-1 {
  float: left;
  min-width: 457px;
  width: 68%;
  height: 100%;
  padding: 16px 6%;
  overflow-y: auto;
}

.sn-1 h1 {
  font-size: 1.2rem;
}
.sn-1 p {
  line-height: 1.3em;
}
.ctn-sn-1 .sn-2 {
  float: right;
  min-width: 145px;
  width: 31%;
  height: 100%;
}
.bar {
  width: 100%;
  min-height: 20%;
  height: auto;
  background-color: white;
  border-radius: 10px;
}

.bar-head {
  padding: 16px;
  background-color: #023160;
}
.bar-head .bar-head__title {
  color: white;
  text-align: center;
  font-weight: normal;
}
.bar-content {
  height: 534px;
  overflow-y: auto;
}
.bar-content ul {
  width: 100%;
  padding: 5px 5px;
  overflow-y: auto;
}
.bar-3 .bar-content li {
  cursor: pointer;
  display: flex;
  align-items: flex-start;
  padding: 15px 5px;
}
.bar-content img {
  width: 65px;
  margin-right: 15px;
}
.bar-content a {
  width: 80%;
  color: black;
  font-weight: 600;
  font-size: 1.1rem;
}

.bar-content a span {
  font-size: 0.9rem;
  font-weight: normal;
}

.sn-4,
.sn-5 {
  position: relative;
  background-color: transparent !important;
  padding: 8px 14%;
  padding-bottom: 42px;
}
.sn-4 h1,
.sn-5 h1 {
  text-align: start;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 32px;
  padding: 16px 0 0 0;
  color: #023160;

  font-size: 1.7rem;
  padding-left: 5px;
}

.sn-4 span:nth-child(1),
.sn-5 span:nth-child(1) {
  width: 2px;
  position: absolute;
  width: 8px;
  height: 32px;
  left: 14.8%;
  top: 20px;
  background: #023160;
  border-radius: 20px;
}

.sn-4 .lst-crse .owl-item {
  width: 24%;
}

/*#region SLIDER */

.ssn .slider {
  padding-top: 16px;
}

.ssn .slick-slide {
  padding: 8px;
  box-sizing: border-box;
  outline: none;
}
.ssn .slider:hover .slick-next,
.ssn .slider:hover .slick-prev {
  opacity: 1;
}

.ssn .slick-next,
.ssn .slick-prev {
  opacity: 0;
  transition: all 0.5s ease;
}
.ssn .slick-next {
  right: 55px;
}
.ssn .slick-prev {
  left: 55px;
}
.ssn .slick-prev,
.ssn .slick-next {
  width: unset;
  height: unset;
}
.ssn .slick-next::before,
.ssn .slick-prev::before {
  font-size: 25px;
  color: #ccc;
}
.ssn .slick-next:hover,
.ssn .slick-prev:hover {
  opacity: 1;
}
.slick-slider {
  margin-bottom: 0;
}

.slider-content1 .slick-slide > img,
.slider-content2 .slick-slide > img,
.slider-content4 .slick-slide > img {
  margin-bottom: 10px;
}
.slider-content1 .slick-slide > p,
.slider-content2 .slick-slide > p,
.slider-content4 .slick-slide > p {
  text-align: justify;
}

.slick-dots {
  left: unset;
  bottom: unset;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  font-size: 1.2rem;
  color: #023160;
  background-color: white;
  border: 1px solid #023160;
  border-radius: 5px;
  text-align: center;
  width: 100%;
  height: 100%;
}
.slick-dots li.slick-active button {
  background-color: #023160;
  color: white;
}
.slick-dots li button::before {
  content: none;
}

.owl-item {
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}
.fcrse_1 {
  background: #fff;
  width: 100%;
  float: left;
  padding: 0;
  border-radius: 5px;
  border: 1px solid #efefef;
  transition: all 0.4s ease;
}
.fcrse_1:hover {
  box-shadow: 0 0 10px 0 rgb(0 0 0 / 10%);
  -webkit-box-shadow: 0 0 10px 0 rgb(0 0 0 / 10%);
}
a {
  color: #023160;
  text-decoration: none;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
.owl-item img {
  display: block;
  width: 100%;
}
.fcrse_img {
  width: 100%;
  float: left;
  position: relative;
}
.fcrse_img img {
  width: 100%;
  border-style: none;
  vertical-align: middle;
}
.prce142 {
  position: absolute;
  top: 15px;
  left: 15px;
  background: #fff;
  padding: 4px 15px;
  border-radius: 2px;
  box-shadow: 0 0 0 4px rgb(255 255 255 / 20%);
  font-weight: 600;
  color: #393d4e;
  font-size: 1rem;
  text-align: end;
}
.makh {
  position: absolute;
  bottom: 5px;
  right: 5px;
  background: #fff;
  padding: 4px 15px;
  border-radius: 2px;
  box-shadow: 0 0 0 4px rgb(255 255 255 / 20%);
  font-weight: 600;
  color: #393d4e;
  font-size: 1rem;
}

.fcrse_content {
  float: left;
  width: 100%;
  position: relative;
}

.bl-title {
  padding: 20px 8px 0px;
  color: #2d3954;
  font-weight: 600;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
  line-height: 26px;
  margin-bottom: 10px;
  text-align: left;
  font-size: 16px;
}

.bl-title a {
  color: #4a5682;
  text-decoration: none;
  background-color: transparent;
  font-size: 17px;
}

.vdtodt ul {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 8px 18px;
  justify-content: space-between;
}

.vdtodt ul li {
  flex: 0 0 33%;
  width: 33%;
  font-size: 10px;
  color: #4a5874;
}

.vdtodt ul li i {
  font-size: 14px;
}

.auth1lnkprce {
  padding: 14px 20px;
  width: 100%;
  display: flex;
  vertical-align: middle;
  align-items: center;
  border-top: 1px solid #f0f1f5;
}
.education_block_author {
  flex: 1;
  display: flex;
  align-items: center;
}
.education_block_author .path-img {
  max-width: 35px;
  height: 35px;
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
  margin-right: 7px;
}
.img-fluid {
  max-width: 100%;
  height: auto;
  display: block;
}
.education_block_author h5 {
  margin: 0;
  font-size: 12px;
  font-weight: 600;
  opacity: 1;
}

.shrt-cart-btn {
  background: rgba(30, 173, 107, 0.13);
  color: #1ead6b;
  padding: 6px 15px;
  font-size: 13px;
  border-radius: 50px;
}

.comment-bl * {
  color: #023160;
}

.comment-bl .item {
  padding: 4px;
  border-radius: 10px;
}

.slider-content4 {
  margin-top: 16px;
}
.slider-content4 .slick-dots {
  display: none !important;
}
/*#endregion SLIDER */

.image {
  padding: 8px 14%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: transparent !important;
}
.image__hp18 {
  width: 50%;
  max-height: 340px;
  padding-right: 1%;
}
.image__hp19 {
  width: 50%;
  max-height: 340px;
  padding-left: 1%;
}

/* #endregion REMAIN SECTION */

/* #region SCROLLBAR */
/* width */

.sn-1::-webkit-scrollbar,
.bar-content::-webkit-scrollbar {
  width: 8px;
}

/* Track */

.sn-1::-webkit-scrollbar-track,
.bar-content::-webkit-scrollbar-track {
  background: white;
}

/* Handle */

.sn-1::-webkit-scrollbar-thumb,
.bar-content::-webkit-scrollbar-thumb {
  background: #023160;
}
.sn-1::-webkit-scrollbar-thumb:hover,
.bar-content::-webkit-scrollbar-thumb:hover {
  background: #023160;
}
/* #endregion SCROLLBAR */
/* RESPONSIVE */

@media only screen and (max-width: 600px) {
  html * {
    font-size: 13px;
  }
  .ctn-sn {
    height: unset;
  }
  .video-lesson {
    height: unset;
  }
  .sn {
    margin-top: unset;
  }
  .sn--left {
    float: unset;
    min-width: unset;
    width: 100%;
    margin-top: 84px;
  }

  .btn-sidebar {
    display: block;
    position: fixed;
    right: 0;
    top: 145px;
    background-color: #0231609d;
    padding: 8px 10px 4px 10px;
    z-index: 999;
    border-radius: 3px 0 0 3px;
  }

  .btn-sidebar img {
    transition: transform 0.5s ease;
    transform: rotate(90deg);
  }
  .btn-sidebar.active img {
    transform: rotate(270deg) !important;
    transform-origin: center;
  }
  .sn--right {
    padding-top: 84px;
    float: unset;
    position: fixed;
    top: 0;
    right: -160%;
    width: 80%;
    height: 100%;
    max-height: unset;
    min-width: 320px;
    background-color: white;
    transition: all 0.5s ease;
    z-index: 99;
  }
  .sn--right.active {
    right: 0;
  }
  /* SN LEFT */
  .sn--left .tt {
    display: none;
  }

  /* SN RIGHT */

  .tabs {
    padding: 0 8px;
  }
  .tabs > div {
    background-size: 24%;
    border-radius: 5px;
  }

  .tabs .tab:hover {
    background-color: #023160;
  }
  .tabs-ct {
    height: 100%;
  }
  .tab-ct {
    height: 100%;
  }

  .discuss,
  .situation,
  .evaluation {
    max-height: unset !important;
    height: calc(100% - 113px);
  }
  /* TAB LESSON */
  .chaps,
  .rules {
    padding: 0 8px;
    padding-bottom: 40px;
    height: 100%;
    max-height: unset !important;
  }
  .chaps .chap {
    padding: 16px 0;
  }
  .chap > h1 {
    padding: 0 8px;
    cursor: pointer;
  }
  .epss > li:nth-child(2n + 1) {
    background-color: #bbc9d46c;
  }

  .epss > li > .meta {
    cursor: pointer;
    padding: 18px 8px;
    display: flex;
  }
  .epss .meta > div:nth-child(1) {
    width: calc(100% - 48px);
  }
  .epss .meta > div:nth-child(2) {
    width: 48px;
  }
  .epss .meta i {
    color: green;
  }
  .epss .pgr {
    background-color: #9facb7;
    height: 6px;
  }
  .epss .pgr > div {
    width: 17%;
    height: 100%;
    background-color: #ffc107;
    border-radius: 2px;
  }
  .ctn-sn-1 {
    padding: 8px 2%;
  }
  .ctn-sn-1 .sn-1 {
    float: unset;
    min-width: unset;
    width: 100%;
    padding: 16px 6%;
    overflow-y: auto;
  }
  .ctn-sn-1 .sn-2 {
    float: unset;
    min-width: unset;
    width: 100%;
    margin-top: 16px;
  }
  .sn-4,
  .sn-5,
  .image {
    padding-left: 2%;
    padding-right: 2%;
  }
  .sn-4 span:nth-child(1),
  .sn-5 span:nth-child(1) {
    left: 5%;
  }
}
