
/* #region KHOA HOC MEMBER */
/* #region INIT SET */
body.khmb{
  height: 100%;
}
:root body.khmb,
.khmb a,
.khmb h2,
.khmb *  {
  color: #023160;
}
.khmb .slick-dots{
  display: none !important;
}
:root body.khmb,
body.khmb {
  text-decoration: none;
  outline: none;
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer */
  -khtml-user-select: none; /* KHTML browsers (e.khmb.g.khmb. Konqueror) */
  -webkit-user-select: none; /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}
.khmb pre,
.khmb code,
.khmb blockquote,
.khmb input.khmb,
.khmb textarea {
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  -webkit-touch-callout: text;
}
.khmb a {
  cursor: pointer;
}
.khmb.ctn-sn {
  width: 100%;
  display: flex;
  margin-top: 104px;
  height: calc(100% - 104px);
}
.khmb.sn {

}
.khmb.sn--left {
  min-width: 457px;
  flex: 2;
  height: 100%;
}
.khmb.sn--right {
  min-width: 145px;
  flex: 1;
  height: 100%;
}
.khmb.btn-sidebar {
  display: none;
}
/* #endregion INIT SET */

/*#region SN LEFT */
.khmb.sn--left .khmb.tt {
  height: 120px;
  padding: 8px 16px;
}

.khmb.tt .khmb.breadcrumb {
}

.khmb.tt >h2 {
  font-size: 1.5rem;
  margin: 0.7em 0 0.4em 0;
}
.khmb.tt > div > span {
  margin-right: 1.2em;
}

.khmb.video-lesson {
  height: 100%;
}
.khmb.video-lesson video {
  width: 100%;
  height: 100%;
}

.khmb.ctl-lesson {
  padding: 8px 16px 16px 16px;
}

.khmb.ctl-lesson > p {
  color: #023160;
  font-size: 1.4rem;
  font-weight: normal;
}
.khmb.ctl-lesson > div > a {
  width: 129px;
  line-height: 48px;
  background-color: #9facb7;
  border-radius: 1px;
  text-align: center;
}
.khmb.ctl-lesson > div > a:nth-child(1) {
  float: left;
}
.khmb.ctl-lesson > div > a:nth-child(2) {
  float: right;
}
/*#endregion SN LEFT */

/*#region SN RIGHT */
.khmb.tabs-ct {
  height: calc(100% - 48px);
  overflow-y: auto;
}
.khmb.tabs {
  display: flex;
  justify-content: start;
  align-items: start;
  margin-bottom: 8px;
  height: 40px;
}
.khmb.tabs > div {
  flex: 1;
  height: 100%;
  padding: 6px 18px;
  background-repeat: no-repeat;
  background-size: 28%;
  background-position: center;
}
.khmb.tabs > div.active {
  background-color: #023160;
}
.khmb.tabs > div:nth-child(1) {
  background-image: url("./unicons/svg/menu.png");
}
.khmb.tabs > div.active:nth-child(1) {
  background-image: url("./unicons/svg/menu-white.png");
}
.khmb.tabs > div:nth-child(2) {
  background-image: url("./unicons/svg/chat.png");
}
.khmb.tabs > div.active:nth-child(2) {
  background-image: url("./unicons/svg/chat-white.png");
}

.khmb.tabs > div:nth-child(3) {
  background-image: url("./unicons/svg/question.png");
}
.khmb.tabs > div.active:nth-child(3) {
  background-image: url("./unicons/svg/question-white.png");
}

.khmb.tabs > div:nth-child(4) {
  background-image: url("./unicons/svg/evaluation.png");
}
.khmb.tabs > div.active:nth-child(4) {
  background-image: url("./unicons/svg/evaluation-white.png");
}
.khmb.tabs > div:nth-child(5) {
  background-image: url("./unicons/svg/document-rule.png");
}
.khmb.tabs > div.active:nth-child(5) {
  background-image: url("./unicons/svg/document-rule-white.png");
}
.khmb.tabs .khmb.tab {
  cursor: pointer;
  transition: all 0.2s ease;
}
.khmb.tabs .khmb.tab:hover {
  background-color: #bbc9d46c;
}

.khmb.tabs-ct .khmb.tab-ct {
  display: none;
}

.khmb.tabs-ct .khmb.tab-ct.active {
  display: block;
}
/*#endregion SN RIGHT */

/* #region TAB LESSON */
.khmb.chaps {
  padding-bottom: 0;
}
.khmb.chaps .khmb.chap {
  padding: 16px 0;
}
.khmb.chap >h2 {
  padding: 4px 8px;
  cursor: pointer;
  font-weight: bold;
}
.khmb.epss > li:nth-child(2n + 1) {
  background-color: #bbc9d46c;
}

.khmb.epss > li > .khmb.meta {
  cursor: pointer;
  padding: 18px 8px;
  display: flex;
}
.khmb.epss .khmb.meta > div:nth-child(1) {
  width: calc(100% - 48px);
}
.khmb.epss .khmb.meta > div:nth-child(2) {
  width: 48px;
}
.khmb.epss .khmb.meta i {
  color: green;
}
.khmb.epss .khmb.pgr {
  background-color: #9facb7;
  height: 6px;
}
.khmb.epss .khmb.pgr > div {
  width: 17%;
  height: 100%;
  background-color: #ffc107;
  border-radius: 2px;
}
/* #endregion TAB LESSON */

/* #region TAB discuss */

.khmb.tab-ct .khmb.discuss {
  padding: 8px;
}
.khmb.discuss > ul > li > div:first-child {
  display: flex;
  align-items: start;
  justify-content: start;
}
.khmb.discuss .khmb.dc-bd {
  border-radius: 10px;
  border: 1px solid #e5e5e5;
  min-height: 40px;
  padding: 6px 16px 12px 16px;
}

.khmb.discuss .khmb.dc-meta {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: start;
  height: 29px;
}
.khmb.dc-meta .khmb.username {
  display: block;
  font-weight: bold;
}

.khmb.dc-bd .khmb.dc-cont {
  font-style: italic;
}
.khmb.dc-reply-bl {
  margin-left: 50px;
  margin-top: 16px;
  margin-bottom: 16px;
}
.khmb.dc-reply-bl > ul > li {
  display: flex;
  align-items: start;
  justify-content: start;
  margin-top: 8px;
}
.khmb.dc-reply-bl .khmb.dc-rpl-bd {
  border-radius: 10px;
  border: 1px solid #e5e5e5;
  min-height: 40px;
  padding: 6px 16px 12px 16px;
}

.khmb.dc-reply-bl .khmb.dc-rpl-meta {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: start;
  height: 29px;
}
.khmb.dc-rpl-meta .khmb.username {
  display: block;
  font-weight: bold;
}

.khmb.dc-rpl-bd .khmb.dc-rpl-cont {
  font-style: italic;
}
.khmb.discuss-f {
  padding: 16px 0;
}

.khmb.btn-discuss,
.khmb.btn-situation,
.khmb.btn-eva {
  background-color: #023160;
  text-align: center;
  font-weight: 300;
  color: white;
  padding: 15px;
  border-radius: 0 0 10px 10px;
  margin-top: 16px;
}
/* #endregion TAB discuss */

/* #region TAB QUESTION */
.khmb.situation {
  padding: 0 8px;
}
.khmb.lst-ctr > ul > li {
  width: 100%;
  margin: 8px 0;
}
.khmb.lst-ctr > ul:not(.khmb.rules) > li > a {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  color: #023160;
}

.khmb.lst-ctr > ul > li > a > div {
  width: 85%;
  font-size: 1.2rem;
}
.khmb.lst-ctr > ul > li > a > i {
  color: #023160;
  vertical-align: middle;
  font-size: 1.7rem;
}
.khmb.uil-plus::before {
  font-weight: bold;
}

.khmb.lst-ctr > ul > li.active > a i::before {
  content: "\ea8d";
}

.khmb.lst-ctr .khmb.lst-eps {
  margin-top: -2px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease;
}
.khmb.lst-ctr li.active .khmb.lst-eps {
  max-height: 1000px;
  overflow-y: auto;
}

.khmb.lst-eps > li {
  width: 100%;
  padding: 0 12px;
  background-color: #ccc;
}

.khmb.lst-eps > li > a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(139, 139, 139);
  padding: 0px 12px;
  line-height: 45px;
}
.khmb.lst-eps > li:last-child > a {
  border-bottom: none;
}
.khmb.lst-eps > li > a > div {
  width: 85%;
}
.khmb.lst-eps .khmb.lst-eps__trial {
  width: 75px;
  color: red;
}
.khmb.lst-eps > li > a i {
  font-size: 1.7rem;
}
/* #endregion TAB QUESTION */

/*#region TAB EVA */
.khmb.evaluation {
  padding: 16px;
}
.khmb.evaluation textarea {
  border: none;
  background-color: #e8ebee;
  border-radius: 10px;
  margin-bottom: 8px;
  padding: 8px;
  float: left;
  width: 100%;
  min-height: 150px;
  outline: none;
  resize: none;
}
.khmb.evaluation svg {
}
/* #endregion TAB EVA */

/*#region TAB RULE */
.khmb.rules {
  padding: 0 4px;
}
.khmb.rules ul {
  width: 100%;
  padding: 5px 5px;
  overflow-y: auto;
}
.khmb.rules {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.khmb.rules li {
  cursor: pointer;
  display: flex;
  align-items: flex-start;
  padding: 15px 5px;
}
.khmb.rules img {
  width: 65px;
  margin-right: 15px;
}
.khmb.rules a {
  width: 80%;
  color: black;
  font-weight: 600;
  font-size: 1.1rem;
}

.khmb.rules a span {
  font-size: 0.9rem;
  font-weight: normal;
}
/* #endregion TAB RULE */

/* width */

.khmb.tab-ct > *:first-child::-webkit-scrollbar {
  width: 8px;
}

/* Track */

.khmb.tab-ct > *:first-child::-webkit-scrollbar-track {
  background: white;
}

/* Handle */

.khmb.tab-ct > *:first-child::-webkit-scrollbar-thumb {
  background: #023160;
}
.khmb.tab-ct > *:first-child::-webkit-scrollbar-thumb:hover {
  background: #023160;
}

/* #region REMAIN SECTION */

.khmb.title {
  background-color: transparent !important;
  padding: 16px 0;
  width: 1080px;
}
.khmb.title >h2 {
  font-size: 1.5rem;
}
.khmb.ctn-sn-1 {
  background-color: aliceblue !important;
  width: 1080px;
  height: 624px;
  margin-top: 0;
}
.khmb.ctn-sn-1 .khmb.sn {
  margin-top: 0;
  max-height: unset;
  background-color: white;
  height: 584px !important;
}
.khmb.ctn-sn-1 .khmb.sn-1 {
  float: left;
    min-width: 457px;
    width: 67%;
    margin-right: 1%;
    height: 100%;
    padding: 16px;
    overflow-y: auto;
}

.khmb.sn-1 h2 {
  font-size: 1.2rem;
  line-height: 2em;
}
.khmb.sn-1 p {
  line-height: 1.3em;
}
.khmb.ctn-sn-1 .khmb.sn-2 {
  float: right;
  min-width: 145px;
  width: 31%;
  height: 100%;
}
.khmb.bar {
  width: 100%;
  min-height: 20%;
  height: auto;
  background-color: white;
  border-radius: 10px;
}

.khmb.bar-head {
  padding: 16px;
  background-color: #023160;
}
.khmb.bar-head .khmb.bar-head__title {
  color: white;
  text-align: center;
  font-weight: normal;
}
.khmb.bar-content {
  height: 534px;
  overflow-y: auto;
}
.khmb.bar-content ul {
  width: 100%;
  padding: 5px 5px;
  overflow-y: auto;
}
.khmb.bar-3 .khmb.bar-content li {
  cursor: pointer;
  display: flex;
  align-items: flex-start;
  padding: 15px 5px;
}
.khmb.bar-content img {
  width: 65px;
  margin-right: 15px;
}
.khmb.bar-content a {
  width: 80%;
  color: black;
  font-weight: 600;
  font-size: 1.1rem;
}

.khmb.bar-content a span {
  font-size: 0.9rem;
  font-weight: normal;
}

.khmb.sn-4,
.khmb.sn-5 {
  position: relative;
    background-color: transparent !important;
    padding-bottom: 32px;
    width: 1080px;
}

.khmb.sn-4 h2,
.khmb.sn-5 h2 {
  text-align: start;
    margin-bottom: 16px;
    margin-left: 32px;
    color: #3b5b8c;
    font-size: 22px;
    font-weight: 600;
    padding-left: 5px;
}


.khmb.sn-4 span:nth-child(1),
.khmb.sn-5 span:nth-child(1) {
  width: 2px;
  position: absolute;
  width: 8px;
  height: 32px;
  left: 1%;
  top: -5px;
  background: #3b5b8c;
  border-radius: 20px;
}

.khmb.sn-4 .khmb.lst-crse .khmb.owl-item {
  width: 24%;
}

/*#region SLIDER */

.khmb.ssn .khmb.slider {
  padding-top: 16px;
}

.khmb.ssn .slick-slide {
  padding: 8px;
  box-sizing: border-box;
  outline: none;
}



.khmb .slick-slider {
  margin-bottom: 0;
}

.khmb.slider-content1 .slick-slide > img,
.khmb.slider-content2 .slick-slide > img,
.khmb.slider-content4 .slick-slide > img {
  margin-bottom: 10px;
}
.khmb.slider-content1 .slick-slide > p,
.khmb.slider-content2 .slick-slide > p,
.khmb.slider-content4 .slick-slide > p {
  text-align: justify;
}




.khmb.owl-item {
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.khmb.owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}
.khmb.fcrse_1 {
  background: #fff;
  width: 100%;
  float: left;
  padding: 0;
  border-radius: 5px;
  border: 1px solid #efefef;
  transition: all 0.4s ease;
}
.khmb.fcrse_1:hover {
  box-shadow: 0 0 10px 0 rgb(0 0 0 / 10%);
  -webkit-box-shadow: 0 0 10px 0 rgb(0 0 0 / 10%);
}
.khmb a {
  color: #023160;
  text-decoration: none;
}
.khmb a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
.khmb.owl-item img {
  display: block;
  width: 100%;
}
.khmb.fcrse_img {
  width: 100%;
  float: left;
  position: relative;
}
.khmb.fcrse_img img {
  width: 100%;
  border-style: none;
  vertical-align: middle;
}
.khmb.prce142 {
  position: absolute;
  top: 15px;
  left: 15px;
  background: #fff;
  padding: 4px 15px;
  border-radius: 2px;
  box-shadow: 0 0 0 4px rgb(255 255 255 / 20%);
  font-weight: 600;
  color: #393d4e;
  font-size: 1rem;
  text-align: end;
}
.khmb.makh {
  position: absolute;
  bottom: 5px;
  right: 5px;
  background: #fff;
  padding: 4px 15px;
  border-radius: 2px;
  box-shadow: 0 0 0 4px rgb(255 255 255 / 20%);
  font-weight: 600;
  color: #393d4e;
  font-size: 1rem;
}

.khmb.fcrse_content {
  float: left;
  width: 100%;
  position: relative;
}

.khmb.bl-title {
  padding: 20px 8px 0px;
  color: #2d3954;
  font-weight: 600;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
  line-height: 26px;
  margin-bottom: 10px;
  text-align: left;
  font-size: 16px;
}

.khmb.bl-title a {
  color: #4a5682;
  text-decoration: none;
  background-color: transparent;
  font-size: 17px;
}

.khmb.vdtodt ul {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 8px 18px;
  justify-content: space-between;
}

.khmb.vdtodt ul li {
  flex: 0 0 33%;
  width: 33%;
  font-size: 10px;
  color: #4a5874;
}

.khmb.vdtodt ul li i {
  font-size: 14px;
}

.khmb.auth1lnkprce {
  padding: 14px 20px;
  width: 100%;
  display: flex;
  vertical-align: middle;
  align-items: center;
  border-top: 1px solid #f0f1f5;
}
.khmb.education_block_author {
  flex: 1;
  display: flex;
  align-items: center;
}
.khmb.education_block_author .khmb.path-img {
  max-width: 35px;
  height: 35px;
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
  margin-right: 7px;
}
.khmb.img-fluid {
  max-width: 100%;
  height: auto;
  display: block;
}
.khmb.education_block_author h5 {
  margin: 0;
  font-size: 12px;
  font-weight: 600;
  opacity: 1;
}

.khmb.shrt-cart-btn {
  background: rgba(30, 173, 107, 0.13);
  color: #1ead6b;
  padding: 6px 15px;
  font-size: 13px;
  border-radius: 50px;
}

.khmb.comment-bl * {
  color: #023160;
}

.khmb.comment-bl .khmb.item {
  padding: 4px;
  border-radius: 10px;
}

.khmb.slider-content4 {
  margin-top: 16px;
}
.khmb.slider-content4 .slick-dots {
  display: none !important;
}
/*#endregion SLIDER */

.khmb.image {
  width: 1080px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: transparent !important;
  margin-bottom: 32px;
}
.khmb.image__hp18 {
  width: 50%;
  max-height: 340px;
  padding-right: 1%;
}
.khmb.image__hp19 {
  width: 50%;
  max-height: 340px;
  padding-left: 1%;
}

/* #endregion REMAIN SECTION */

/* #region SCROLLBAR */
/* width */

.khmb.sn-1::-webkit-scrollbar,
.khmb.bar-content::-webkit-scrollbar {
  width: 8px;
}

/* Track */

.khmb.sn-1::-webkit-scrollbar-track,
.khmb.bar-content::-webkit-scrollbar-track {
  background: white;
}

/* Handle */

.khmb.sn-1::-webkit-scrollbar-thumb,
.khmb.bar-content::-webkit-scrollbar-thumb {
  background: #023160;
}
.khmb.sn-1::-webkit-scrollbar-thumb:hover,
.khmb.bar-content::-webkit-scrollbar-thumb:hover {
  background: #023160;
}
/* #endregion SCROLLBAR */

/* RESPONSIVE */

@media only screen and (max-width: 600px) {
  html * {
    font-size: 13px;
  }
  .khmb hr.mb{
    display: block;
  }
  .khmb.ctn-sn {
    height: unset;
  }
  .khmb.video-lesson {
    height: unset;
  }
  .khmb.sn {
    margin-top: unset;
  }
  .khmb.sn--left {
    float: unset;
    min-width: unset;
    width: 100%;
    margin-top: 84px;
  }

  .khmb.btn-sidebar {
    display: block;
    position: fixed;
    right: 0;
    top: 145px;
    background-color: #0231609d;
    padding: 8px 10px 4px 10px;
    z-index: 999;
    border-radius: 3px 0 0 3px;
  }

  .khmb.btn-sidebar img {
    transition: transform 0.5s ease;
    transform: rotate(90deg);
  }
  .khmb.btn-sidebar.active img {
    transform: rotate(270deg) !important;
    transform-origin: center;
  }
  .khmb.sn--right {
    padding-top: 84px;
    float: unset;
    position: fixed;
    top: 0;
    right: -160%;
    width: 80%;
    height: 100%;
    max-height: unset;
    min-width: 320px;
    background-color: white;
    transition: all 0.5s ease;
    z-index: 99;
  }
  .khmb.sn--right.active {
    right: 0;
  }
  /* SN LEFT */
  .khmb.sn--left .khmb.tt {
    display: none;
  }

  /* SN RIGHT */

  .khmb.tabs {
    padding: 0 8px;
  }
  .khmb.tabs > div {
    background-size: 24%;
    border-radius: 5px;
  }

  .khmb.tabs .khmb.tab:hover {
    background-color: #023160;
  }
  .khmb.tabs-ct {
    height: 100%;
  }
  .khmb.tab-ct {
    height: 100%;
  }

  .khmb.discuss,
  .khmb.situation,
  .khmb.evaluation {
    max-height: unset !important;
    height: calc(100% - 113px);
  }
  /* TAB LESSON */
  .khmb.chaps,
  .khmb.rules {
    padding: 0 8px;
    padding-bottom: 40px;
    height: 100%;
    max-height: unset !important;
  }
  .khmb.chaps .khmb.chap {
    padding: 16px 0;
  }
  .khmb.chap >h2 {
    padding: 0 8px;
    cursor: pointer;
  }
  .khmb.epss > li:nth-child(2n + 1) {
    background-color: #bbc9d46c;
  }

  .khmb.epss > li > .khmb.meta {
    cursor: pointer;
    padding: 18px 8px;
    display: flex;
  }
  .khmb.epss .khmb.meta > div:nth-child(1) {
    width: calc(100% - 48px);
  }
  .khmb.epss .khmb.meta > div:nth-child(2) {
    width: 48px;
  }
  .khmb.epss .khmb.meta i {
    color: green;
  }
  .khmb.epss .khmb.pgr {
    background-color: #9facb7;
    height: 6px;
  }
  .khmb.epss .khmb.pgr > div {
    width: 17%;
    height: 100%;
    background-color: #ffc107;
    border-radius: 2px;
  }
  .khmb.ctn-sn-1 {
    padding: 8px 2%;
  }
  .khmb.ctn-sn-1 .khmb.sn-1 {
    float: unset;
    min-width: unset;
    width: 100%;
    padding: 16px 6%;
    overflow-y: auto;
  }
  .khmb.ctn-sn-1 .khmb.sn-2 {
    float: unset;
    min-width: unset;
    width: 100%;
    margin-top: 16px;
  }
  .khmb.sn-4,
  .khmb.sn-5,
  .khmb.image {
    padding-left: 2%;
    padding-right: 2%;
  }
  .khmb.sn-4 span:nth-child(1),
  .khmb.sn-5 span:nth-child(1) {
    left: 5%;
  }
}

/* #endregion KHOA HOC MEMBER */
